asgiref==3.8.1
distlib==0.3.9
dj-database-url==3.0.1
Django==5.2.3
django-debug-toolbar==5.2.0
filelock==3.18.0
mysql-connector-python==9.3.0
platformdirs==4.3.8
protobuf==6.30.2
psycopg2-binary==2.9.10
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.31.2
