<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            {% for emp in tasks  %}
                <li>
                    <p>{{emp.name}}</p>
                    <p>{{emp.email}}</p>
                    {% for task in emp.tasks.all %}
                      <p>{{task.title}}</p>
                      
                    {% endfor %}
                    
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>