
{% extends "dashboard/dashboard.html" %}

 {% block title %}User DashBoard{% endblock title %}

{% block tasks %}

<div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4">
       {% comment %} <!-- 1st div --> {% endcomment %}
        <div class="bg-white p-6 rounded-xl shadow-sm">
            <div class="text-2xl font-semibold mb-2">Today's Tasks</div>
           {% now "Y-m-d" as today_date %}

        {% for task in tasks %}
            {% if task.created_at|date:"Y-m-d" == today_date %}
                <div class="flex justify-between items-start">
                <div class="flex justify-relative items-center gap-2">
                    <div class="w-2 h-2 bg-green-500 rounded-full "></div>
                    
                    <div><span><a href="{% url 'user-details' task.id %}">{{task.title}}</a></span></div>
                     
                </div>
                <div class="text-gray-500">{{task.details.get_priority_display|upper}}</div>
             </div>
              {% endif %}
    {% endfor %}
             
            
             
        </div>

        {% comment %} <!-- 2nd div --> {% endcomment %}
         <div class="bg-white rounded-xl p-6 shadow-sm">
            <div class="text-2xl font-semibold">All Tasks</div>
            <div class="grid grid-cols-4 p-4 gap-4 items-center text-sm font-semibold text-gray-500">
                <div>TASK TITLE</div>
                <div>PRIORITY</div>
                <div>TEAM</div>
                <div>CREATED AT</div>
            </div>
            {% comment %} <!-- ST --> {% endcomment %}
             
         {% for task in tasks %}
         <div class="grid grid-cols-4 p-4 gap-4 items-center">
            <div class="flex items-center gap-1 mb-2 ">
                <div class="w-2 h-2 rounded-full bg-yellow-500"></div>
                <div><span class=""><a href="{% url 'user-details' task.id %}">{{task.title}}</a></span></div>
            </div>
            <div><span class="px-3 py-1 text-sm rounded-sm bg-gray-50 text-gray-600  ">{{task.details.get_priority_display}}</span></div>
           <div class="flex -space-x-2">
                  {% for emp in task.assigned_to.all %}
                      <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center
                     justify-center text-white text-sm border-2 border-white">{{emp.first_name|slice:':1'}}</div>
                  {% endfor %}
                    
                </div>
            <div class="text-gray-500">{{task.created_at|timesince}}</div>
         </div>
         
         {% endfor %}
        
         </div>

    </div> 

   {% endblock tasks %} 